<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="form-group row">
        <label class="col-1 col-form-label">api_id</label>
        <div class="col-6">
          <input class="form-control" [(ngModel)]="creditionals.api_id">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-1 col-form-label">api_hash</label>
        <div class="col-6">
          <input class="form-control" [(ngModel)]="creditionals.api_hash">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-1 col-form-label">phone</label>
        <div class="col-6">
          <input class="form-control" [(ngModel)]="creditionals.phone">
        </div>
      </div>

      <button class="btn btn-primary" type="button" (click)="sendCode()">Отправить код</button>

    </div>
  </div>
  <div class="row text-center">
    <div id="preloader" *ngIf="displayPreloader">
      <div id="loader"></div>
    </div>
  </div>
</div>

