<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="form-group row">
        <label class="col-2 col-form-label">2fa code</label>
        <div class="col-6">
          <input type="password" class="form-control" [(ngModel)]="code">
          <div class="form-group">
            <div class="button-group">
              <button class="btn btn-info" (click)="auth()">Авторизовать</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




