<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                <label class="col-1 col-form-label">Код</label>
                <div class="col-6">
                    <input class="form-control" [(ngModel)]="code">
                </div>
            </div>
            <div class="form-group row">
                <div class="button-group">
                 <button class="btn btn-success" (click)="signIn()">Добавить</button>
                 <button class="btn btn-success" (click)="signUp()">Регистрация</button>
                 <button class="btn btn-info" (click)="resendCode()">Переслать код</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div id="preloader" *ngIf="displayPreloader">
            <div id="loader"></div>
        </div>
    </div>
</div>




