<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="form-group row">
        <label class="col-1 col-form-label">to</label>
        <div class="col-6">
          <input class="form-control" [(ngModel)]="task.to">
        </div>
        <div class="col-5">
          <button (click)="searchUser(true)">searchUser</button>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-1 col-form-label">proxy</label>
        <div class="col-6">
          <select class="form-control" [disabled]="!permissions.canUseProxy" [(ngModel)]="task.creditionalsProxyId">
            <option value="">Выключить</option>
            <option value="{{creditional.id}}" *ngFor="let creditional of proxyCreditionals">{{getName(creditional.telegramUser)}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-1 col-form-label">from</label>
        <div class="col-6">
          <input class="form-control" [(ngModel)]="task.from">
        </div>
        <div class="col-5">
          <button (click)="searchUser(false)">searchUser</button>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-1 col-form-label">started</label>
        <div class="col-6">
          <input type="checkbox" class="form-control" [(ngModel)]="task.started">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-1 col-form-label">Спрятать источник</label>
        <div class="col-6">
          <input type="checkbox" class="form-control" [disabled]="!permissions.canSendRaw" [(ngModel)]="task.sendRaw">
        </div>
      </div>
      <button class="btn btn-primary" type="button" (click)="editTask()">save</button>
    </div>
  </div>
</div>

