<div class="container">
    <div class="row">
        <div class="col-12">

            <div *ngIf="creditionalsApproved.length" class="wrap">
                <h3>Аккаунты</h3>
                <ul>
                    <li *ngFor="let creditional of creditionalsApproved">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-text">
                                    <div (click)="setCreditionals(creditional)">
                                        {{creditional.telegramUser ? creditional.telegramUser.first_name + ' ' + creditional.telegramUser.last_name : creditional.api_id}}
                                        <p class="phone">(+{{creditional.telegramUser.phone }})</p>
                                    </div>
                                </div>
                            </div>
                            <span (click)="deleteCreditionals(creditional)" class="close"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="0 0 426.667 426.667" style="enable-background:new 0 0 426.667 426.667;" xml:space="preserve"><path style="fill:#F05228;" d="M213.333,0C95.514,0,0,95.514,0,213.333s95.514,213.333,213.333,213.333	s213.333-95.514,213.333-213.333S331.153,0,213.333,0z M330.995,276.689l-54.302,54.306l-63.36-63.356l-63.36,63.36l-54.302-54.31 l63.356-63.356l-63.356-63.36l54.302-54.302l63.36,63.356l63.36-63.356l54.302,54.302l-63.356,63.36L330.995,276.689z"/><g></g><g></g><g></g><g>
              </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </span>
                        </div>
                    </li>
                </ul>
            </div>

            <div *ngIf="creditionalsNonApproved.length" class="wrap">
                <h3>Неподтвержденные аккаунты</h3>
                <ul>
                    <li *ngFor="let creditional of creditionalsNonApproved">
                        <a routerLink="{{getLink(creditional)}}">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">{{creditional.api_id}}</p>
                                    <button class="btn btn-success">Подтвердить</button>
                                </div>
                            </div>
                        </a>
                        <span (click)="deleteCreditionals(creditional)" class="close"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="0 0 426.667 426.667" style="enable-background:new 0 0 426.667 426.667;" xml:space="preserve"><path style="fill:#F05228;" d="M213.333,0C95.514,0,0,95.514,0,213.333s95.514,213.333,213.333,213.333	s213.333-95.514,213.333-213.333S331.153,0,213.333,0z M330.995,276.689l-54.302,54.306l-63.36-63.356l-63.36,63.36l-54.302-54.31 l63.356-63.356l-63.356-63.36l54.302-54.302l63.36,63.356l63.36-63.356l54.302,54.302l-63.356,63.36L330.995,276.689z"/><g></g><g></g><g></g><g>
            </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          </span>
                    </li>
                </ul>
            </div>


            <a routerLink="add-account">
                <img src="assets/images/addUser.png" alt="">
                <p class="p_add">Добавить<br>аккаунт</p>
            </a>

        </div>
    </div>
</div>
