.container{
    margin-top: 30px;
}
a{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
a:hover{
    text-decoration: none;
}
a:hover .btn{
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
li{
    position: relative;
}
img{
    max-width: 50px;
}
ul, ul li{
    display: inline-block;
    padding: 0;
}
ul li{
    margin-right: 20px;
}
h3{
    margin-bottom: 30px;
}
.card-body{
    min-width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.close{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -12px;
    right: -15px;
}
.wrap{
    display: inline;
}
p{
    line-height: normal;
}
.p_add{
    margin-top: 10px;
}
.phone{
    color: #ccc;
    margin-top: 5px;
}