<div class="container">
  <div class="row">
    <div class="col-12">
      <ul>
        <li><a routerLink="add-task">Добавить задачу</a> </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul>
        <li *ngFor="let task of tasks  | keyvalue">
          <div class="col-3">
            <p>{{task.value.from}}</p>
            <p>{{task.value.to}}</p>
            <a routerLink="edit/{{task.value.id}}">edit</a>
            <button (click)="delete(task.value)">delete</button>
            <button (click)="setStarted(task.value)">{{task.value.started ? "stop" : "start"}}</button>
          </div>
          </li>
      </ul>
    </div>
  </div>
</div>
