<div class="container">
  <nav class="navbar navbar-dark bg-primary">
    <a routerLink="app">APP</a>
    <ul>
      <ng-template ngFor let-item [ngForOf]="menu" *ngIf="!logStatus">
        <li class="navbar-brand" *ngIf="item.url != currentUrl">
          <a class=""
             [routerLink]="[item.url]
              ">{{item.name}}</a>
        </li>
      </ng-template>
        <li class="navbar-brand" *ngIf="myLogin">
          <p class="login">{{myLogin}}</p>
        </li>
      <li class="navbar-brand" *ngIf="logStatus">
        <a routerLink="" class=""
           (click)="logout()
          ">Выход</a>
      </li>
    </ul>
  </nav>
</div>